.leaflet-container .leaflet-control-zoombox {
    margin-left: 13px;
    margin-top: -2px;
}

.leaflet-control-zoombox a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    height: 22px;

    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
            border-radius: 0px 0px 4px 4px;
	border-top:0px;
}

.leaflet-control-zoombox a:hover {
    background-color: #fff;
}

.leaflet-touch .leaflet-control-zoombox a {
    width: 27px;
    height: 27px;
}

.leaflet-control-zoombox a {
	background-image: url(images/icon-zoombox.png);
}