.leaflet-control-loading {
    /* This is where your loading indicator would go */
    background: url(ajax-loader.gif);
background-size: 50px 50px;
}

.leaflet-control-loading,
.leaflet-control-zoom a.leaflet-control-loading {
    display: none;
}

.leaflet-control-loading.is-loading,
.leaflet-control-zoom a.leaflet-control-loading.is-loading {
    display: block;
	width: 57px;
	height: 57px;
}

/* Necessary for display consistency in Leaflet >= 0.6 */
.leaflet-bar-part-bottom {
    border-bottom: medium none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
